{% extends "snippets/social.html" %}

{% block social_title %}
<h2 class="module-heading">
    <i class="fa fa-share-square"></i> 
    {{ _('Reuse Types') }}
</h2>
{% endblock %}


{% block social_nav %}
<ul class="nav nav-simple">
    {% set type_dict = h.ckanext_showcase_types_dict() %}
    {% set icons_dict = {
        'a': 'fa-mobile',
        'b': 'fa-tv',
        'c': 'fa-newspaper',
        'd': 'fa-microscope',
        'e': 'fa-code',
    } %}

    {%  for type in types %}
        {% if type_dict[type] %}
        <li class="nav-item">
            <a>
                <i class="fa-solid {{ icons_dict[type] }}"></i> 
                {{ _(type_dict[type]) }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}